@import 'bootstrap/dist/css/bootstrap';

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
  }
.nav-link {
    color: white !important;
}
.navbar {
    background-color: #FDF6EA !important;
    background-color: black !important;
  }
#home-container {
    margin-top: 25px;
  }
  

.jumbotron {
    background-image: asset-url('jumbo5.jpeg');
    opacity: 0.8;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 425px;
  }
  
  html,
  body {
    height: 100%;
  }
  
  #page-content {
    flex: 1 0 auto;
    background-color: lightgrey;
  }
  
  #sticky-footer {
    flex-shrink: none;
  } 